Node-Red_Map
[{"id":"484a8a93.29ebb4","type":"worldmap","z":"57c888e7.3099e8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":840,"y":340,"wires":[]},{"id":"b77970e6.40004","type":"mqtt in","z":"57c888e7.3099e8","name":"","topic":"lorapacket2","qos":"0","datatype":"json","broker":"a25bf3e9.a407f","x":330,"y":140,"wires":[["6eab4de.ed408b4","8aaa1aa6.c7a418"]]},{"id":"6eab4de.ed408b4","type":"debug","z":"57c888e7.3099e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"8aaa1aa6.c7a418","type":"function","z":"57c888e7.3099e8","name":"GPS","func":"function hexStringToByte(str) \n{\n  if (!str) {\n    return new Uint8Array();\n  }\n  var a = [];\n  for (var i = 0, len = str.length; i < len; i+=2) {\n    a.push(parseInt(str.substr(i,2),16));\n  }\n  return a;           //return new Uint8Array(a);\n}  // end function\n\n\nvar str = msg.payload.DevEUI_uplink.payload_hex\nvar rssi = msg.payload.DevEUI_uplink.LrrRSSI\nvar snr = msg.payload.DevEUI_uplink.LrrSNR\nvar payload_int = [];\npayload_int = hexStringToByte(str);\n\nvar bytes = payload_int;\nvar j=0;\n    \nvar lat   = (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];     \nvar lon   = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];      \nvar Count = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\n\nmsg.payload = {\n            Lat: lat/1000000,\n            Lon: lon/1000000,\n            RSSI:rssi,\n            SNR:snr,\n            count: Count\n    };\n    \n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["c4eee0d6.fad6e","7d907068.f5ecb"]]},{"id":"c4eee0d6.fad6e","type":"debug","z":"57c888e7.3099e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"7d907068.f5ecb","type":"function","z":"57c888e7.3099e8","name":"","func":"var Lat = msg.payload.Lat;\nvar Lon = msg.payload.Lon;\nvar RSSI = msg.payload.RSSI;\nmsg.payload = { \"name\":RSSI, \"lat\":Lat, \"lon\":Lon }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["484a8a93.29ebb4","e0984f32.00c78"]]},{"id":"e0984f32.00c78","type":"debug","z":"57c888e7.3099e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"a25bf3e9.a407f","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
