README.md
[{"id":"23130659.6a7b7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8d8adc9.113fa","type":"debug","z":"23130659.6a7b7a","name":"Debug_packet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":240,"wires":[]},{"id":"278579c3.980206","type":"inject","z":"23130659.6a7b7a","name":"","props":[{"p":"payload","v":"Testing","vt":"str"},{"p":"topic","v":"MQTT","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MQTT","payload":"Testing","payloadType":"str","x":170,"y":40,"wires":[["ed2e688a.b2aad8"]]},{"id":"89ce502d.9dc8b","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"ae014832.805ae8","order":3,"width":"12","height":"4","label":"Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":300,"wires":[[]]},{"id":"f1ea06bf.510698","type":"function","z":"23130659.6a7b7a","name":"Decode_packet_from_server","func":"function hexStringToByte(str) \n{\n  if (!str) {\n    return new Uint8Array();\n  }\n  var a = [];\n  for (var i = 0, len = str.length; i < len; i+=2) {\n    a.push(parseInt(str.substr(i,2),16));\n  }\n  return a;           //return new Uint8Array(a);\n}  // end function\n\n\nvar str = msg.payload.DevEUI_uplink.payload_hex\nvar payload_int = [];\npayload_int = hexStringToByte(str);\n\nvar bytes = payload_int;\nvar j=0;\n    \nvar V   = (bytes[j++] << 8) | bytes[j++];       \nvar A   = (bytes[j++] << 8) | bytes[j++];       \nvar PF  = (bytes[j++] << 8) | bytes[j++];       \nvar W   = (bytes[j++] << 8) | bytes[j++];        \nvar Wh  = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\nvar F   = (bytes[j++] << 8) | bytes[j++];      \nvar Count = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\n\nvar payload = {\n            volt: V/100,\n            current: A/100,\n            pf: PF/100,\n            watt: W,\n            kWh: Wh/1000,\n            freq: F/10,           \n            count: Count\n    }; \n        \n        \nvar payload_string =  { \n    \n    payload:\n        msg.payload.DevEUI_uplink.Time +\",\"+\n        msg.payload.DevEUI_uplink.DevEUI +\",\"+\n        msg.payload.DevEUI_uplink.FCntUp +\",\"+\n        msg.payload.DevEUI_uplink.payload_hex +\",\"+\n        payload.volt +\",\"+\n        payload.current +\",\"+\n        payload.pf +\",\"+\n        payload.watt +\",\"+\n        payload.kWh +\",\"+\n        payload.freq +\",\"+\n        payload.count +\",\"+\n        msg.payload.DevEUI_uplink.LrrRSSI +\",\"+\n        msg.payload.DevEUI_uplink.LrrSNR +\",\"+\n        msg.payload.DevEUI_uplink.SpFact +\",\"+\n        msg.payload.DevEUI_uplink.Channel +\",\"+\n        msg.payload.DevEUI_uplink.DevLrrCnt +\",\"+\n        msg.payload.DevEUI_uplink.Lrrid \n//DateTime,ID,Counter,Payload_HEX,Volt,Current,PF,Watt,kWh,Freq,Node_counter,RSSI,SNR,SF,Channel,GW_GET_Number,GW_ID \\n    \n};         \nreturn [payload,payload_string];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["b8d8adc9.113fa","232676b6.e1119a","c38fbf8.1b8054","903dc50f.1be3c8","2479e9a3.229196","843d171e.376518","b098ad87.17b1b","29a7bae1.37d596"],[]]},{"id":"232676b6.e1119a","type":"function","z":"23130659.6a7b7a","name":"decode_volt","func":"return { \n    \n    payload: msg.volt,\n   \n}; ","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["89ce502d.9dc8b"]]},{"id":"d48d2a0c.add9a8","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"ae014832.805ae8","order":4,"width":"12","height":"4","label":"Current (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":360,"wires":[[]]},{"id":"c38fbf8.1b8054","type":"function","z":"23130659.6a7b7a","name":"decode_current","func":"return { \n    \n    payload: msg.current,\n   \n}; ","outputs":1,"noerr":0,"x":820,"y":360,"wires":[["d48d2a0c.add9a8"]]},{"id":"1b532588.b1dd1a","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"ae014832.805ae8","order":5,"width":"12","height":"4","label":"Power Factor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":420,"wires":[[]]},{"id":"903dc50f.1be3c8","type":"function","z":"23130659.6a7b7a","name":"decode_PF","func":"return { \n    \n    payload: msg.pf,\n   \n}; ","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["1b532588.b1dd1a"]]},{"id":"6567d3dc.ad85ac","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"1bcac817.8f0358","order":4,"width":"12","height":"4","label":"Energy (kWh)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":600,"wires":[[]]},{"id":"2479e9a3.229196","type":"function","z":"23130659.6a7b7a","name":"decode_kWh","func":"return { \n    \n    payload: msg.kWh,\n   \n}; ","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["6567d3dc.ad85ac","2c5cc70e.c502a8"]]},{"id":"2e992adf.dfc716","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"1bcac817.8f0358","order":2,"width":"12","height":"4","label":"Frequency (Hz)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":540,"wires":[[]]},{"id":"843d171e.376518","type":"function","z":"23130659.6a7b7a","name":"decode_freq","func":"return { \n    \n    payload: msg.freq,\n   \n}; ","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["2e992adf.dfc716"]]},{"id":"2c5cc70e.c502a8","type":"ui_gauge","z":"23130659.6a7b7a","name":"","group":"ae014832.805ae8","order":1,"width":"6","height":"4","gtype":"gage","title":"Energy (kWh)","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":640,"wires":[]},{"id":"ed2e688a.b2aad8","type":"mqtt out","z":"23130659.6a7b7a","name":"","topic":"lorapacket","qos":"0","retain":"","broker":"a25bf3e9.a407f","x":810,"y":40,"wires":[]},{"id":"ed964059.db887","type":"mqtt in","z":"23130659.6a7b7a","name":"","topic":"lorapacket","qos":"0","datatype":"json","broker":"a25bf3e9.a407f","x":160,"y":160,"wires":[["f1ea06bf.510698","25136e4c.317a82"]]},{"id":"25136e4c.317a82","type":"debug","z":"23130659.6a7b7a","name":"Raw_Packet_from_CAT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":160,"wires":[]},{"id":"c477aaef.961058","type":"ui_chart","z":"23130659.6a7b7a","name":"","group":"1bcac817.8f0358","order":3,"width":"12","height":"4","label":"Power (Watt)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":460,"wires":[[]]},{"id":"b098ad87.17b1b","type":"function","z":"23130659.6a7b7a","name":"decode_Watt","func":"return { \n    \n    payload: msg.watt,\n   \n}; ","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["c477aaef.961058","e90f853b.d86088"]]},{"id":"e90f853b.d86088","type":"ui_gauge","z":"23130659.6a7b7a","name":"","group":"ae014832.805ae8","order":2,"width":"6","height":"4","gtype":"gage","title":"Power (Watt)","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":500,"wires":[]},{"id":"29a7bae1.37d596","type":"function","z":"23130659.6a7b7a","name":"decode_counter","func":"return { \n    \n    payload: msg.count,\n   \n}; ","outputs":1,"noerr":0,"x":820,"y":680,"wires":[["42380f05.de68f"]]},{"id":"42380f05.de68f","type":"ui_text","z":"23130659.6a7b7a","group":"1bcac817.8f0358","order":1,"width":"12","height":"4","name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":680,"wires":[]},{"id":"ae014832.805ae8","type":"ui_group","z":"","name":"column I","tab":"7e02748f.70b38c","order":1,"disp":true,"width":"12","collapse":false},{"id":"1bcac817.8f0358","type":"ui_group","z":"","name":"column II","tab":"7e02748f.70b38c","order":2,"disp":true,"width":"12","collapse":false},{"id":"a25bf3e9.a407f","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e02748f.70b38c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
